input {
  width: 600px;
}
textarea {
  height: 6em;
  width: 600px;
}
div[role="alert"] {
  color: red;
  margin-top: 1em;
  font-style: italic;
}
.status-message {
  opacity: 0;
}
.success {
  opacity: 1;
  color: green;
}
.failure {
  opacity: 1;
  color: red;
}
