 @import "../styles/variables.scss";

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background-color: #efefef;
    margin-top: 25px;
    z-index: 99;
}


.scroll-button {
    color: $pink;
    cursor: pointer;
    font-size: 50px;
    vertical-align: middle;
    padding-right: 10px;
}