 @import "../styles/variables.scss";

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #efefef;
    margin-top: 25px;
    z-index: 99;
}

.footer-p {
    margin-left: 15px;
}

.bram {
    text-decoration: none;
    color: $pink;
    cursor: pointer;
}

.bram:visited {
    color: $pink;
}

.scroll-button {
    color: $pink;
    cursor: pointer;
    font-size: 50px;
    vertical-align: middle;
    padding: 7px 15px 0 0;
}

@media (max-width: 800px) {
    .footer {
    margin-top: 370px;
}

.scroll-button {
    font-size: 40px;
}
}

@media (max-width: 500px) {
    .footer {
        margin-top: 310px;
    }
    .scroll-button {
        font-size: 30px;
    }
}