@import "../styles/Variables.scss";

.contact {
  display: flex;
  align-items: center;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

.postcode {
  color: $pink;
}

input {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid $pink;
  padding: 20px 0 10px 0;
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
  width: 75vw;
}

.button {
  font-family: "Rubik", sans-serif;
  width: 20%;
  height: auto;
  font-size: 20px;
  color: $black;
  border: 2px solid $pink;
  padding: 10px;
  margin-top: 20px;
  background-color: $white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  cursor: pointer;
  align-items: flex-start;
}

.button:hover {
  background-color: $pink;
  color: $white;
}

.status-message {
  font-family: "Rubik", sans-serif;
  opacity: 0;
}

.success {
  opacity: 1;
  color: $black;
  background: $off-white;
  padding: 6px 16px 6px 16px;
  text-align: center;
}

.failure {
  opacity: 1;
  color: $black;
  background: $pink-fail;
  padding: 6px 16px 6px 16px;
  text-align: center;
}

.pack-image {
  display: flex;
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .contact {
    flex-direction: column;
    height: auto;
  }
  .button,
  input {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .button,
  input {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .button,
  input {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .button,
  input {
    font-size: 14px;
  }
}
