@import "../styles/Variables.scss";

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  width: 100vw;
  align-items: center;
  position: sticky;
  background-color: $white;
}

nav .logo {
  width: 200px;
  height: auto;
  margin-right: 100px;
  padding-top: 6px;
}

nav .link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  color: $pink;
}

nav .link:visited {
  color: $pink;
}

nav .link:hover {
  border-bottom: 2px solid $pink;
}

nav .nav-link {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

nav .nav-link-item {
  font-size: 20px;
}

.nav-icon {
  display: none;
}

nav .burger {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

@media (max-width: 1350px) {
  nav .nav-link-item {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  nav .nav-link-item {
    font-size: 16px;
  }
}

@media all and (max-width: 768px) {
  .nav-icon {
    display: inherit;
    color: $pink;
    font-size: 32px;
  }

  nav .nav-link {
    position: absolute;
    display: block;
    top: -16px;
    left: 0;
    height: 100vh;
    background: $yellow;
    width: 50%;
    transform: translateX(-500px);
    transition: 0.3s ease-in-out;
  }

  nav .nav-link-item {
    font-size: 20px;
    margin-left: -5vw;
  }

  nav .nav-link li:first-of-type {
    margin-top: 60px;
  }
  nav .nav-link li {
    padding-top: 30px;
    text-align: center;
  }

  nav .link:hover {
    border-bottom: 0px solid $white;
  }
}
