

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 0 10px 0;
    position: -webkit-sticky;
    position: sticky;
	top: 0;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.middle {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
}

.right {
    flex: 1;
}

.logo {
    width: 200px;
    height: 75px;
}

.nav-list, .social-links {
    list-style: none;
}

.nav-items {
    font-size: 24px;
    color: #F1897F;
    padding: 0 60px 0 0;
    display: inline-block;
    cursor: pointer;
}

.nav-items::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #FCE483;
  transition: width 0.3s;
}

.nav-items:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 0 10px;
}

.icons {
    width: 40px;
    height: 40px;
}


