@import "../styles/Variables.scss";

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE4E3;
    padding: 5px 0 5px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.middle {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
}

.right {
    flex: 1;
}

.logo {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.nav-list, .social-links {
    list-style: none;
}

.nav-items {
    font-size: 26px;
    color: $pink;
    padding: 0 60px 0 0;
    display: inline-block;
    cursor: pointer;
}

.nav-items::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: $pink;
  transition: width 0.3s;
}

.nav-items:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 0 10px;
}

.icons {
    width: 40px;
    height: 40px;
}

 @media (max-width: 1450px) {
 .nav-items {
     font-size: 24px;
 }
}

  @media (max-width: 1378px) {
 .nav-items {
     font-size: 22px;
 }
 .icons {
    width: 35px;
    height: 35px;
}
}

  @media (max-width: 1306px) {
 .nav-items {
     font-size: 20px;
 }
}

  @media (max-width: 1230px) {
 .nav-items {
     font-size: 18px;
 }
}
@media (max-width: 1152px) {
    .nav-items {
     font-size: 22px;
 }
  .right {
      display: none;
  }
  .logo {
    width: 175px;
}

 }

  @media (max-width: 1046px) {
 .nav-items {
     font-size: 20px;
 }
}

 @media (max-width: 982px) {
 .nav-items {
     font-size: 17px;
 }
  .logo {
    width: 150px;
}
}

 @media (max-width: 891px) {
 .nav {
    flex-direction: column;
     }
 .nav-items {
     font-size: 18px;
 }

}

  @media (max-width: 692px) {
 .nav-items {
     font-size: 16px;
 }
   .logo {
    width: 125px;
}
}

  @media (max-width: 650px) {
 .nav-items {
     font-size: 14px;
     padding: 0 50px 0 0;
 }
}

  @media (max-width: 600px) {
   
 .nav-items {
     font-size: 12px;
 }
}

  @media (max-width: 560px) {
   
 .nav-items {
     font-size: 12px;
 }
}

@media (max-width: 560px) {
   
 .nav-items {
     font-size: 12px;
 }
}

@media (max-width: 516px) {
    .left {
        display: none;
    }
   
 .nav-items {
     font-size: 12px;
       padding: 0 40px 0 0;
 }
}

@media (max-width: 474px) {
   
 .nav-items {
     font-size: 11px;
       padding: 0 40px 0 0;
 }
}

@media (max-width: 454px) {
   
 .nav-items {
     font-size: 11px;
       padding: 0 30px 0 0;
 }
}

@media (max-width: 415px) {
   
 .nav-items {
     font-size: 10px;
       padding: 0 30px 0 0;
 }
}

@media (max-width: 390px) {
   
 .nav-items {
     font-size: 10px;
       padding: 0 20px 0 0;
 }
}

@media (max-width: 350px) {
   
 .nav-items {
     font-size: 9px;
       padding: 0 20px 0 0;
 }
}

@media (max-width: 325px) {
   
 .nav-items {
     font-size: 8px;
       padding: 0 20px 0 0;
 }
}
