.contact-p {
  line-height: 40px;
  text-align: justify;
}

.icons-contact {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  padding-right: 20px;
}

.contact a,
.contact a:visited {
  text-decoration: none;
  color: #000;
}

.contact a:hover {
  text-decoration: none;
  color: $pink;
}

.contact-image {
  display: flex;
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 20px 0;
}

.contact-list-items {
  flex: 33%;
  padding: 25px 0 25px 0;
}

@media (max-width: 960px) {
  .contact-list-items {
    flex: 50%;
  }
}

@media (max-width: 575px) {
  .contact-list-items {
    flex: 100%;
    text-align: left;
    margin-left: 25vw;
  }
}

@media (max-width: 500px) {
  .contact-list-items {
    margin-left: 20vw;
  }
}

@media (max-width: 440px) {
  .contact-list-items {
    margin-left: 15vw;
  }
}
