@import "../styles/Variables.scss";

.links {
  display: flex;
  align-items: center;
}

.links-content {
  display: flex;
  flex-direction: column;
}

.icons-links {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  padding-right: 20px;
}

.links a,
.links a:visited {
  text-decoration: none;
  color: $black;
}

.links a:hover {
  text-decoration: none;
  color: $pink;
}

.links-image {
  display: flex;
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

.links-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 20px 0;
}

.links-list-items {
  flex: 33%;
  padding: 25px 0 25px 0;
}

@media (max-width: 960px) {
  .links-list-items {
    flex: 50%;
  }
}

@media (max-width: 650px) {
  .links-list-items {
    flex: 100%;
    text-align: left;
    margin-left: 30vw;
  }
}

@media (max-width: 600px) {
  .links-list-items {
    margin-left: 25vw;
  }
}

@media (max-width: 500px) {
  .links-list-items {
    margin-left: 20vw;
  }
}

@media (max-width: 440px) {
  .links-list-items {
    margin-left: 15vw;
  }
}
