@import "../styles/variables.scss";

.request {
    display: flex;
    align-items: center;
    height: 100vh;
}

.left-request {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.right-request {
    flex: 1;
    display: flex;
    justify-content: center;
}

.request-p {
    line-height: 40px;
    text-align: justify;
}

.postcode {
  color: $pink;
}

input {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid $pink;
    padding: 10px 0 10px 10px;
    margin: 0 0 20px 0;
    outline: none;
}

.button {
  font-family: 'Rubik', sans-serif;
  width: 15%;
  font-size: 22px;
  color: #000;
  border: 2px solid $pink;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: $pink;
  color: #fff;
}

.status-message {
  font-family: 'Rubik', sans-serif;
  opacity: 0;
}

.left-form {
    display:block;
    float:left;
    line-height:40px;
    width:45%;
    height:30px;
}

.right-form {
    position: relative;
    display:block;
    float:right;
    line-height:40px;
    width:45%;
    height:30px;
}

.success {
  opacity: 1;
  color: #000;
  background: #f4fef4; 
  padding: 6px 16px 6px 16px;
  text-align: center;
}

.failure {
  opacity: 1;
  color: #000;
  background: #ffe5e5; 
  padding: 6px 16px 6px 16px;
  text-align: center;
}

.pack-image {
    padding-top: 120px;
    max-width: 75%;
    max-height: 75%;
}


@media (max-width: 1200px) {
.request {
    flex-direction: column;
    height: auto;
}
.left-request {
  margin-right: 30px;
}
.left-request h1 {
    padding-top: 30px;
}
.pack-image {
  padding-top: 30px;
}

#number {
  margin-top: 30px;
}
}

@media (max-width: 891px) {
  .left-request h1 {
    padding-top: 70px;
  }
}

@media (max-width: 750px) {
 
  .pack-image {
    max-width: 100%;
  }

.left-form {
  float: none;
  order: 0;
  width: 97%;
  display: flex;
  align-content: center;
}

.right-form {
  float: none;
  order: 1;
  width: 97%;
}

.button {
  font-size: 18px;
}

input {
  font-size: 16px;
}
}

@media (max-width: 600px) {
  .right-form, .left-form {
    height: 15px;
  }
}

@media (max-width: 500px) {
  .button, input {
    font-size: 14px;
    width: 20%;
  }
}

@media (max-width: 350px) {
input {
    font-size: 12px;
  }
  .button {
    font-size: 13px;
    width: 25%;
  }
  
}
