@import "../styles/variables.scss";

.request {
    display: flex;
    align-items: center;
    height: 100vh;
}

.left-request {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.right-request {
    flex: 1;
    display: flex;
    justify-content: center;
}

.request-p {
    font-size: 22px;
    line-height: 40px;
    text-align: justify;
}

.required-p {
    font-size: 20px;
    font-style: italic;
    line-height: 40px;
    text-align: justify;
    margin-bottom: -20px;
}

input {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid $pink;
    padding: 10px 0 10px 10px;
    margin: 0 0 20px 0;
    outline: none;
}

.left-form {
    display:block;
    float:left;
    line-height:40px;
    width:45%;
    height:30px;
}

.right-form {
    position: relative;
    top: -19px;
    display:block;
    float:right;
    line-height:40px;
    width:45%;
    height:30px;
}

.button {
  font-family: 'Rubik', sans-serif;
  width: 15%;
  font-size: 22px;
  color: #000;
  border: 2px solid $pink;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: $pink;
  color: #fff;
}

div[role="alert"] {
  color: $red;
  margin-top: 1em;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
}
.status-message {
  font-family: 'Rubik', sans-serif;
  opacity: 0;
}
.success {
  opacity: 1;
  color: $green;
}
.failure {
  opacity: 1;
  color: $red;
}

.pack-image {
    padding-top: 120px;
    max-width: 75%;
    max-height: 75%;
}