@import "../styles/Variables.scss";

.wwn {
    display: flex;
    align-items: center;
    height: 100vh;
}

.left-wwn {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.right-wwn {
    flex: 1;
    display: flex;
    justify-content: center;
}

.wwn-p {
    line-height: 40px;
    text-align: justify;
    margin-bottom: -10px;
}

.wwn-list {
    margin-left: -40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wwn-list-item {
    color: $pink;
    padding: 20px;
    flex: 25%;
    text-align: center;
    margin: 10px;

}

.food-image {
    padding-top: 120px;
    max-width: 75%;
    max-height: 75%;
}

@media (max-width: 1200px) {
.wwn {
    flex-direction: column;
    height: auto;
}
.left-wwn {
  margin-right: 30px;
}
.left-wwn h1 {
    padding-top: 55px;
}
.food-image {
padding-top: 30px;
}
}

@media (max-width: 891px) {
  .left-wwn h1 {
    padding-top: 80px;
  }
}

@media (max-width: 750px) {
 
  .food-image {
    max-width: 100%;
    max-height: auto;
  }
}

@media (max-width: 600px) {
    .wwn-list-items {
    padding-top: 5px; 
    }
}

@media (max-width: 400px) {
    .wwn-list {
        display: flex;
        flex-direction: column;
    }
}
