@import "../styles/Variables.scss";

.wwn {
  display: flex;
  align-items: center;
}

.wwn-content {
  display: flex;
  flex-direction: column;
}

.wwn-p {
  text-align: justify;
}

.wwn-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -2vw;
  padding: 0;
}

.wwn-list-item {
  color: $pink;
  padding: 20px;
  flex: 30%;
  text-align: center;
}

.wwn-image {
  display: flex;
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .wwn {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 600px) {
  .wwn-list-items {
    padding-top: 5px;
  }
}

@media (max-width: 400px) {
  .wwn-list {
    display: flex;
    flex-direction: column;
  }
}
